* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  height: 80%;
  background: #FFFFFF;
  line-height: 2.5;
}

header h1 {
  margin: 0px;
  padding-bottom: 20px;
}

header h3 {
  line-height: 3;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 5% 0px;
  line-height: 1em;
  margin: 0px;
}

nav ul {
  text-align: center;
}

nav li {
  width: 50%;
}

.left {
  float: left;
}

#primary {
  padding: 20px;
  line-height: 1;
}

form {
  text-align: left;
  padding: 10px;
  line-height: 2.5;
}


#primary table {
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

footer {
  line-height: 2;
  margin-top: 100px;
}

.padding-all {
  padding: 10px;
}

.padding-left-right {
  padding-left: 10px;
  padding-right: 10px; 
}


.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.white {
  color: white;
}

.first-color {
  color: #0D9CD4; /*blue*/
}

.first-color-border {
  border: 1px #0D9CD4 solid;
}

.first-color-background {
  background: #0D9CD4; /*blue*/
}

/*color for alternate rows of the table*/
/*make this complimentary to the first-color*/
.alt-background {
  background: #BEEBEB; /*light blue */
}

.second-color {
  color: #0FF677;
}

.second-color-background {
  background: #0FF677;
}

.second-color-visited:visited {
  color: #0FF677;
}

.capitalize {
  text-transform: capitalize;
}